*~
*.fasl
/doc/rest-server.aux
/doc/rest-server.cp
/doc/rest-server.cps
/doc/rest-server.fn
/doc/rest-server.ky
/doc/rest-server.log
/doc/rest-server.pg
/doc/rest-server.toc
/doc/rest-server.tp
/doc/rest-server.vr
/doc/build
/doc/cl-rest-server.aux
/doc/cl-rest-server.fn
/doc/cl-rest-server.fns
/doc/cl-rest-server.ge
/doc/cl-rest-server.ges
/doc/cl-rest-server.log
/doc/cl-rest-server.toc
