*~
*.fasl
/doc/rest-server.aux
/doc/rest-server.cp
/doc/rest-server.cps
/doc/rest-server.fn
/doc/rest-server.ky
/doc/rest-server.log
/doc/rest-server.pg
/doc/rest-server.toc
/doc/rest-server.tp
/doc/rest-server.vr
/doc/build
